	.first{
                
                padding-top: 0px;

        }
        .first0{
                font: optional;
                width: 100%;
                
                background-color: darkgrey;
                text-align: center;
                margin-top: 0%;
                margin-bottom: 0cm;
        }
        .first1{
                font: optional;
                width: 100%;
               
                margin-top: 0%;
        }
        .icon1{
            
               margin-top: 1%;
               margin-bottom: 0%;
        }
        .col{
                
                width: 60%;
                padding:0.5px;
                background-color: whitesmoke;
                border: yellow;
                border-radius:0.001%;
                text-align: center;
                margin-left: 20%;
                margin-right: 20%;
                border-radius: 5px;
        }
        .row2{
                width: 100%; 
                display: flex;  
                background-color: ivory;
                padding: 0.003%;

        }
       
        .second{
                width: 100%; 
                display: flex;
                padding: 0.003%;
        }
        .second1{
                margin-top: 0px;
                width: 30%;
                background-color:ivory;
                border-color:white ;
                text-align: center;
                border-style: solid;
              
                

        }
        .second2{
                width: 25%;
                border-style: solid;
                border-width: 2px;
                text-align: center;
                border-color:white ;
             
        } 
               
        .second3{
                width: 25%;
                display: flex;
                overflow: hidden;
                border: none;
            
                margin-left: 0.5cm;
               
                
                
        }
        .flag{
                float: left;
                margin-left: 0cm;
                margin-right: 0.5cm;
                0.05cm;
                height: 1cm;
        }
        .content{
                text-align: center;
                margin-left: 1.3cm;
                display: flex;
                margin-right: 0.5cm;
        }

        .drop1{
                border: none;
                color: black;
                background-color: ivory;
                

        }
        .second4{
                width: 20%;
                border-style: solid;
                border-width: 2px;
                text-align: center;
                border-color:white;
                
          
        }
        .third{
                width: 100%;
                display: flex;
                background-color: ghostwhite;
        }
        .third1{
                width: 10%;
                margin-left: 1.5%;
                
        }
        .third2{
                width: 45%;
                display: flex;
                padding: 0.06%;
                font-size: medium;
                margin-right: 0.5%;
                margin-left: 5%;
                margin-top: 0.6%;
        }
        
        .ex1{
                margin-top: 0.6cm;
                margin-right: 15%;
                font-size: large;
                size: 100px;
        }
        .ex2{
                margin-right: 15%;
                margin-top: 0.6cm;
                margin-right: 15%;
                font-size: large;
                size: 100px;
        }  
        .ex3{
                margin-right: 15%;
                margin-top: 0.6cm;
                margin-right: 15%;
                font-size: large;
                size: 100px;
        }
        .ex4{
                margin-right: 15%;
                margin-top: 0.6cm;
                margin-right: 15%;
                font-size: large;
                size: 100px;
        }
        .ex5{
                margin-right: 15%;
                margin-top: 0.6cm;
                margin-right: 15%;
                font-size: large;
                size: 100px;
        }
        .third3{
                width: 20%;
        }
        .fourth{
                display: flex;
                width: 100%;
        }
        .fourth1{
                width: 25%;
                border-style: solid;
                border-width: 2px;
                border-color: lavenderblush;
                text-align: center;
                margin-left: 5%;
                margin-right: 1%;
        }
        .ex6{
                background-color: green;
                padding: 0.06%;
                color: white;
        }
        .ex7{
                background-color: ivory;
        }
        .fourth2{
                width: 69%;
                
               
        }
        .search{
                display: flex;
                height: 2cm;
                width: 97%;
                text-align: center;
                border-style: solid;
                border-width: 2px;
                border-color: lavenderblush;
                margin-bottom: 2%;
                margin-right: 5cm;
        }
        .ex8{
               width: 60%;
               background-color: whitesmoke;
            
               
        }
        .ex9{
               background-color: whitesmoke;
               width: 40%;
        }
        .ex10{
               background-color: green;
               width: 25%;
        }
        .btn{
               background-color: green;
               width: 150px;
               color: white;
        }
        .fifth{
                display: flex;
                background-color: white;
                margin-top: 1.5cm;
                width: 100%;
               
        }
        .fifth0{
                display: flex;
                width: 100%;
                
        }
        .fifth1{
                border-style: solid;
                width: 22%;
                border-color: yellow;
                border-width: 100%;
                
                margin-left: 1.2%;
        }
        .box1{
                width: 22%;
                border-width: 100%;
                float: center;
             
        }
        .box2{
              
                border-style: solid;
                border-width: 14%;
                border-color:white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
               
        }
        .fifth2{
                width:22% ;
                margin-left: 2%;
                border-style: solid;
                border-width: 100%;
                border-color: yellow;
             
        }
        .box3{
                width: 22%;
                border-width: 100%;
             
        }
        .box4{
              
                border-style: solid;
                border-width: 14%;
                border-color:white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
               
        } 
       
        .fifth3{
                box-sizing: border-box;
                border-width: 100%;
                margin-left: 2%;
                border-style: solid;
                width: 25%;
                border-color: yellow;
              

        }
        .box5{
                width: 22%;
                border-width: 100%;
                display: inline-block;
               
              
              
        }
        .box6{
              
                border-width: 14%;
                border-style: solid;
                border-color: white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
                
               
        }
        
        .fifth4{
                width: 22%;
                margin-left: 2%;
                border-style: solid;
                border-width: 100%;
                border-color: yellow;
               
        }
        .box7{
                width: 22%;
                border-width: 100%;
             
        }
        .box8{
              
                border-style: solid;
                border-width: 14%;
                border-color:white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
               
        }
       
        .six{
                margin-top:1.5cm ;
                text-align: center;
        }
        .seven{
                margin-top: 1.5cm;
                text-align: center;
        }
        .seven0{
                display: flex;
                text-decoration: none;
        }
        .seven1{
               margin-left: 35%;
               margin-right: 3%;
               font-size: large;
               size: 100px;
               text-decoration: none;  
        }
        .seven2{
               margin-right: 3%;  
        }
        .seven3{
                margin-right: 3%;  
        }
        .seven4{
                margin-right: 3%;  
        }
        .seven5{
                
        }
        .eight{
                display: flex;
                background-color: white;
                margin-top: 1.5cm;
                width: 100%;
               
        }
        .eight0{
                display: flex;
                width: 100%;
                
        }
        .eight1{
                border-style: solid;
                width: 22%;
                border-color: yellow;
                border-width: 100%;
                
                margin-left: 1.2%;
        }
        .box9{
                width: 22%;
                border-width: 100%;
                float: center;
             
        }
        .box10{
              
                border-style: solid;
                border-width: 14%;
                border-color:white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
               
        }
        .eight2{
                width:22% ;
                margin-left: 2%;
                border-style: solid;
                border-width: 100%;
                border-color: yellow;
             
        }
        .box11{
                width: 25%;
                border-width: 100%;
             
        }
        .box12{
              
                border-style: solid;
                border-width: 14%;
                border-color:white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
               
        } 
       
        .eight3{
                box-sizing: border-box;
                border-width: 100%;
                margin-left: 2%;
                border-style: solid;
                width: 25%;
                border-color: yellow;
              

        }
        .box13{
                width: 22%;
                border-width: 100%;
                display: inline-block;
               
              
              
        }
        .box14{
              
                border-width: 14%;
                border-style: solid;
                border-color:white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
                
               
        }
        
        .eight4{
                width: 22%;
                margin-left: 2%;
                border-style: solid;
                border-width: 100%;
                border-color: yellow;
               
        }
        .box15{
                width: 22%;
                border-width: 100%;
             
        }
        .box16{
              
                border-style: solid;
                border-width: 14%;
                border-color: white;
                text-align: center;
                margin-bottom: 0.05cm;
                background-color:white;
               
        }
        